/.idea
/project/emojiH5/build
/tools
/design
/project/emojiH5/dist
/project/voiceofchina/design
/project/blueevents/application
/project/blueevents/design
/project/xo/design
/project/lingmu_agent/design
/project/even/万物优选平台设计稿（定版）
/project/even/html.rar
/project/even/html_tom改.zip
/project/even/万物优选平台设计稿（定版）.zip
/project/emojiH5/*.zip
design
/project/xufuji/design/psd
/project/xufuji/design/psd.rar
/project/xufuji/design/礼箱及新品批市路演活动H5页面设计方案_20151207V3.pptx
