/.idea
/project/emojiH5/build
/tools
/design
/project/emojiH5/dist
/project/voiceofchina/design
/project/blueevents/application
/project/blueevents/design
/project/xo/design
/project/lingmu_agent/design
